<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="assets\css\header.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: antiquewhite">
    <%- include('./common/header.ejs')%>
    <div
      class="container-fluid"
      style="
        height: 600px;
        background-image: url(https://img.freepik.com/free-photo/restaurant-interior_1127-3394.jpg);
        background-repeat: no-repeat;
        background-size: 100% 90%;
        background-attachment: fixed;
      "
    >
      <h1
        class="bg-white text-center p-5 mx-auto fw-bold"
        style="position: relative; top: 40%; border-radius: 5%; max-width: 50%"
      >
        ABOUT US
      </h1>
    </div>
    <div class="container-xxl my-5 bg-warning px-3" >
      <div class="row">
        <div
          class="col-md-6 col-xs-12 my-5 "
          style="background-color: white; "
        >
          <h1 class="text-center fw-bold py-3 ">OUR STORY</h1>
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore
            hic soluta corrupti exercitationem, eveniet esse reiciendis
            recusandae expedita velit quasi omnis enim, deserunt autem non eum
            fugiat maiores quos minus laborum! Officia aliquam eveniet,
            laboriosam animi culpa consectetur impedit tempora provident vero
            possimus incidunt libero quod quo. Minus, eaque cumque!
          </p>
        </div>
        <div class="col-md-6 col-xs-12 my-5">
          <img
            src="https://media.istockphoto.com/id/1272744431/photo/theyre-ready-to-push-towards-success-with-tenacity-and-confidence.jpg?s=612x612&w=0&k=20&c=H-e_iD5k3NK9PrzVFZWPM8TXCLmW4nv88B9PxqmZlys="
            alt=""
            width="100%"
            height="auto"
          />
        </div>
      </div>
    </div>
    <div class="container-fluid aboutbackg2 my-5" style="height: 40vw">
      <div class="col-md-6 " style="float: right;">
      <p class="text-md-end text-warning fw-bold   mx-5" style="font-size: 5vw;">FRESH.</p>
      <p class="text-md-end text-warning fw-bold   mx-5" style="font-size: 5vw;">AUTHENTIC.</p>
      <p class="text-md-end text-warning fw-bold   mx-5" style="font-size: 5vw;">SIMPLE.</p>
      <p class="text-md-end text-warning fw-bold   mx-5 my-3" style="font-size: 2vw;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, dolor?</p>
    </div>
    </div>
    
    <div class="container-xxl my-5  px-3" >
      <div class="row">
       
        <div class="col-md-6 col-xs-12 my-5">
          <img
            src="https://media.istockphoto.com/id/1151939169/vector/portrait-of-business-team-standing-together-multiracial-business-people.jpg?s=612x612&w=0&k=20&c=IAcKvzvsQSeqJgkgoxdEoBS-gR9kGtIeZDVLghStAiU="
            alt=""
            width="100%"
            height="auto"
          />
        </div>
        <div
        class="col-md-6 col-xs-12 my-5"
        style="background-color: white; "
      >
        <h1 class="text-center fw-bold py-3">OUR MISSION</h1>
        <p class="text-center">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore
          hic soluta corrupti exercitationem, eveniet esse reiciendis
          recusandae expedita velit quasi omnis enim, deserunt autem non eum
          fugiat maiores quos minus laborum! Officia aliquam eveniet,
          laboriosam animi culpa consectetur impedit tempora provident vero
          possimus incidunt libero quod quo. Minus, eaque cumque!
        </p>
      </div>
      </div>
    </div>
    <div class="container-fluid aboutbackg3 mt-0" style="height: 35vw">
      <p class="text-center text-white fw-bold mx-auto " style="font-size: 5vw; text-shadow: 5px 10px 20px blueviolet; line-height: 30vw;">SAVE NATURE WITH US.</p>

    </div>
    <%- include('./common/footer.ejs')%>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
