<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="assets\css\header.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body style="background-color: antiquewhite">
    <%- include('./common/header.ejs')%>
    <div class="container-fluid ">
      <p
        class="p-5 mt-5 py-5 text-start text-white fw-bold fs-1"
        style="
          width: 70%;
          border-radius: 0% 200px 200px 0%;
          position: absolute;
          left: 0%;
          background-color: blueviolet;
        "
      >
        CONTACT US
      </p>
    </div>

    <main>
      <div class="container-xxl my-5 text-center" style="padding-top: 200px">
        <div class="row mt-5 pt-3">
          <div class="col bg-white" style="border: 1px solid black">
            <h1 class="my-3">Contact Us</h1>
            <p>
              We would love to respond to your queries and help you succeed.
              Feel Free to get in touch with us.
            </p>
          </div>
        </div>
        <div class="row" style="border: 1px solid black">
          <div class="col-md-7 p-3 text-white bg-warning">
            <h2 class="mb-5">Send Your Request</h2>
            <form action="" class="text-start fw-bold">
              <div class="row my-3">
                <div class="col-3">
                  <p>Your Name</p>
                </div>
                <div class="col-9">
                  <input
                    type="text"
                    placeholder="Enter Your Name"
                    class="w-100"
                  />
                </div>
              </div>

              <div class="row my-3">
                <div class="col-3">
                  <p>Your Phone No.</p>
                </div>
                <div class="col-9">
                  <input
                    type="number"
                    placeholder="Enter Your Phone No."
                    class="w-100"
                  />
                </div>
              </div>
              <div class="row my-3">
                <div class="col-3">
                  <p>Your Email Address</p>
                </div>
                <div class="col-9">
                  <input
                    type="email"
                    placeholder="youremail@gmail.com"
                    class="w-100"
                  />
                </div>
              </div>

              <div class="row my-3">
                <div class="col-3">
                  <p>Your State</p>
                </div>
                <div class="col-9">
                  <select name="City" id="cars" class="w-100">
                    <option value="Delhi">Delhi</option>
                    <option value="Bihar">Bihar</option>
                    <option value="UP">UP</option>
                    <option value="Karnataka">Karnataka</option>
                  </select>
                </div>
              </div>

              <div class="row my-3">
                <div class="col-3">
                  <p>Your Query</p>
                </div>
                <div class="col-9">
                  <textarea
                    name="Type Your Query"
                    id=""
                    cols="30"
                    rows="5"
                    class="w-100"
                  ></textarea>
                </div>
              </div>

              <div class="row mt-5">
                <div class="col">
                  <button
                    class="btn w-100 fw-bold text-white"
                    style="background-color: blueviolet"
                  >
                    SEND QUERY
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div
            class="col-md-5 p-3 text-white"
            style="background-color: blueviolet; font-size: 20px"
          >
            <div class="row">
              <h2>Reach Us</h2>
            </div>
            <div class="row mt-5 text-start">
              <p>Email : customercare@gmail.com</p>
            </div>

            <div class="row mt-4 text-start">
              <p>Address : South Block, Raisina Hill New Delhi-110011</p>
            </div>

            <div class="row mt-4 text-start">
              <p>Phone No. : +91 000-000-0000 ; +91 789-852-316</p>
            </div>
            <div class="row mt-4 text-center">
              <p>OPEN</p>

              <p>Mon-Fri:11am - 10pm</p>
              <p>Sat-Sun:9am - 12pm</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="container-fluid bg-warning p-3">
      <p
        class="fw-bold text-center w-50 mx-auto py-3 my-3 fs-3 rounded-3"
        style="background-color: blueviolet"
      >
        REACH US
      </p>

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56062.07289892529!2d77.00389551320947!3d28.573379257061163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1a9c31eec4e1%3A0x39493976cba4c89a!2sDwarka%2C%20Delhi!5e0!3m2!1sen!2sin!4v1691957763604!5m2!1sen!2sin"
        width="100%"
        height="350"
        style="border-radius: 0%"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <%- include('./common/footer.ejs')%>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
